@theme {
    --color-prime: #FA5C5C;
    --color-light-base: #f5f5f5;
    --color-light-prime: #ffffff;
    --color-dark-base: #161616;
    --color-dark-prime: #0a0a0a;
}

@theme {
    --breakpoint-xs: 375px;
    --breakpoint-md2: 896px;
}

.animated-cards::before {
    pointer-events: none;
    position: absolute;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 1.5rem;
    opacity: 0;
    transition: opacity 0.3s;
    background: radial-gradient(
        1000px circle at var(--x) var(--y),
        #c9ee80 0,
        #eebbe2 10%,
        #adc0ec 25%,
        #c9ee80 35%,
        rgba(255, 255, 255, 0) 50%,
        transparent 80%
    );
    z-index: -1;
    content: '';
    inset: -1px;
}

.animated-cards:hover::before {
    opacity: 1;
}

.shadow-custom {
    box-shadow: 0 0 0 0 var(--color-dark-prime);
    transition: box-shadow 0.1s ease-out;
}

.shadow-custom:hover {
    box-shadow: 5px 5px 0 0 var(--color-dark-prime);
}

:root.dark .shadow-custom {
    box-shadow: 0 0 0 0 var(--color-light-prime);
}

:root.dark .shadow-custom:hover {
    box-shadow: 5px 5px 0 0 var(--color-light-prime);
}

.shadow-hard {
    box-shadow: 3px 3px 0 0 var(--color-dark-prime);
    transition: box-shadow 0.1s ease-out;
}

.shadow-hard:hover {
    box-shadow: 1px 1px 0 0 var(--color-dark-prime);
}

:root.dark .shadow-hard {
    box-shadow: 3px 3px 0 0 var(--color-light-prime);
}

:root.dark .shadow-hard:hover {
    box-shadow: 1px 1px 0 0 var(--color-light-prime);
}
